# 1 Assignment 3

In [1]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [35]:
# Configuramos dirección de carpeta GitHub
os.getcwd()

'c:\\Users\\Cristian\\Documents\\GitHub\\Diplomado_PUCP\\Lecture_3\\Assigment3'

In [36]:

# Importamos las bases desde directorio
rec_1 = pd.read_spss(r"../../_data/endes/2019/REC0111.sav")
rec_2 = pd.read_spss(r"../../_data/endes/2019/RE223132.sav")
rec_3 = pd.read_spss(r"../../_data/endes/2019/RE516171.sav")

In [37]:
# Definiendo el label de los values y de las variables
import savReaderWriter as sav
##rec_1
with sav.SavHeaderReader(r"../../_data/endes/2019/REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()
    value_labels1 = metadata.valueLabels
    var_labels1 = metadata.varLabels

##rec_2
with sav.SavHeaderReader(r"../../_data/endes/2019/RE223132.sav", ioUtf8=True) as header:
    metadata = header.all()
    value_labels2 = metadata.valueLabels
    var_labels2 = metadata.varLabels

##rec_3
with sav.SavHeaderReader(r"../../_data/endes/2019/RE516171.sav", ioUtf8=True) as header:
    metadata = header.all()
    value_labels3 = metadata.valueLabels
    var_labels3 = metadata.varLabels

In [38]:
rec_1.attrs[ 'value_labels' ] = value_labels1
rec_1.attrs[ 'var_labels' ] = var_labels1

rec_2.attrs[ 'value_labels' ] = value_labels2
rec_2.attrs[ 'var_labels' ] = var_labels2

rec_3.attrs[ 'value_labels' ] = value_labels3
rec_3.attrs[ 'var_labels' ] = var_labels3

In [24]:
%whos DataFrame

Variable   Type         Data/Info
---------------------------------
rec1_1     DataFrame                       CASEID<...>[38335 rows x 22 columns]
rec2_1     DataFrame                       CASEID<...>[36922 rows x 25 columns]
rec3_1     DataFrame                       CASEID<...>[33311 rows x 18 columns]
rec_1      DataFrame              ID1            <...>38335 rows x 105 columns]
rec_2      DataFrame              ID1            <...>36922 rows x 176 columns]
rec_3      DataFrame              ID1            <...>[33311 rows x 84 columns]

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

In [39]:
# Filtramos según columnas requeridas
rec1_1 = rec_1[["CASEID", "V000", "V001", "V002", "V003", "V004", "V007", "V008", "V009", "V010", "V011", "V012", "V024", "V102", "V120", "V121", "V122", "V123", "V124", "V125", "V127", "V133"]]
rec2_1 = rec_2[["CASEID", "V201", "V218", "V301", "V302", "V323", "V323A", "V325A", "V326", "V327", "V337", "V359", "V360", "V361", "V362", "V363", "V364", "V367", "V372", "V372A", "V375A", "V376", "V376A", "V379", "V380"]]
rec3_1 = rec_3[["CASEID", "V501", "V502", "V503", "V504", "V505", "V506", "V507", "V508", "V509", "V510", "V511", "V512", "V513", "V525", "V613", "V714", "V715"]]

In [40]:
#Actualizamos los diccionarios
new_var_labels1 = {i: var_labels1[i] for i in rec1_1}
new_value_labels1 = {i: value_labels1[i] for i in rec1_1 if i in value_labels1}

new_var_labels2 = {i: var_labels2[i] for i in rec2_1}
new_value_labels2 = {i: value_labels2[i] for i in rec2_1 if i in value_labels2}

new_var_labels3 = {i: var_labels3[i] for i in rec3_1}
new_value_labels3 = {i: value_labels3[i] for i in rec3_1 if i in value_labels3}

In [41]:
new_var_labels1

{'CASEID': 'Identificación Cuestionario Individual',
 'V000': 'Código y fase del país',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V024': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V133': 'Educación en años simples'}

In [42]:
new_value_labels1

{'V024': {1.0: 'Amazonas',
  2.0: 'Ancash',
  3.0: 'Apurimac',
  4.0: 'Arequipa',
  5.0: 'Ayacucho',
  6.0: 'Cajamarca',
  7.0: 'Callao',
  8.0: 'Cusco',
  9.0: 'Huancavelica',
  10.0: ' Huanuco',
  11.0: ' Ica',
  12.0: ' Junin',
  13.0: ' La Libertad',
  14.0: ' Lambayeque',
  15.0: ' Lima',
  16.0: ' Loreto',
  17.0: ' Madre de Dios',
  18.0: ' Moquegua',
  19.0: ' Pasco',
  20.0: ' Piura',
  21.0: ' Puno',
  22.0: ' San Martin',
  23.0: ' Tacna',
  24.0: ' Tumbes',
  25.0: ' Ucayali'},
 'V102': {1.0: 'Urbano', 2.0: 'Rural'},
 'V120': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V121': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V122': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V123': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V124': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V125': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V127': {11.0: 'Tierra/arena',
  21.0: 'Madera (entablados)',
  31.0: 'Parquet o madera pulida',
  32.0: 'Làminas asfálticas, vinílicos o similares',
  33.0: 'Losetas, terrazos o similares',
  34.0: 'Cemento/ladrillo',
  96.0: 'Pona',
  97.0: 'Otro(pona)'},
 'V133': {97.0: 'Inconsistente'}}

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [43]:
#Generamos la columna 'year' 
rec1_1.loc[:,'year']=2019

C:\Users\Cristian\AppData\Local\Temp\ipykernel_7040\3902246248.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec1_1.loc[:,'year']=2019

In [44]:
rec1_1.head()

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,Urbano,Si,Si,Si,No,No,No,"Losetas, terrazos o similares",16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,Urbano,Si,Si,Si,No,No,No,"Losetas, terrazos o similares",6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,Urbano,Si,Si,Si,Si,Si,Si,"Losetas, terrazos o similares",16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,Urbano,Si,Si,Si,Si,Si,Si,"Losetas, terrazos o similares",4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,Urbano,No,No,No,No,No,No,Cemento/ladrillo,1.0,2019

In [45]:
#se añade la llave year: year of the survey a new_var_labels1
new_var_labels1.update({'Year': "Year of the survey"})

In [46]:
new_var_labels1

{'CASEID': 'Identificación Cuestionario Individual',
 'V000': 'Código y fase del país',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V024': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V133': 'Educación en años simples',
 'Year': 'Year of the survey'}

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [47]:
#Unimos rec1_1, rec2_1 y rec3_1 manteniendo los valores de todos los dataframes
endes_2019 = rec1_1.merge(rec2_1, how='outer', on='CASEID').merge(rec3_1, how='outer', on='CASEID')
endes_2019.head()

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,Tiene mes y año,28.0,7.0,De 5 a 9 años,18.0,3.0,Sí,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,Tiene año - imputa mes,14.0,34.0,De 30 a más años,14.0,0.0,No,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,Tiene mes y año,18.0,9.0,De 5 a 9 años,15.0,2.0,No,6.0

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [ ]:
#jdm
#creamos un diccionario vacío y actualizamos las etiquetas de las variables
var_labels.update(new_var_labels1) 
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)

#creamos un diccionario vacío y actualizamos el valor de las variables

value_labels = {} 
value_labels.update(new_value_labels1) 
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)

# agregamos las etiquetas a las variables
endes_2019.attrs[ 'var_labels' ] = var_labels
endes_2019.attrs[ 'value_labels' ] = value_labels

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

In [ ]:
#jdm
#seleccionamos las variables de interés
df = endes_2019[["V201","V613", "V715", "V511"]]

#Creamos una variable con la descripción de las variables requeridas
df1 = df.describe(include = 'all')
#usamos loc para crear dos filas en el df
df1.loc['n_obs'] = len(df)  
df1.loc['n_missing'] = df.isnull().sum()


#Seleccionalos los elementos requeridos y los etiquetamos como variables
df2 = df1.loc[["min", "max", "std", "mean", "count", "n_missing"]].reset_index().rename(columns = {'index':'Variables'})
#usamos pivot para crear una tabla pivote con el encabezado variables, y con rename modificamos el nombre de dichas columnas 
df2 = df2.pivot_table(columns= 'Variables').rename(columns=str.capitalize).sort_values(by= 'N_missing').rename(columns = {'Count':'N_obs'})

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

In [ ]:
 # Q.7 Code
mean_key_vars= endes_2019.groupby(["V024"], as_index=False)[["V201","V613", "V715","V511"]].mean(numeric_only=True).rename(columns={"V201":"Total children ever born","V613":"Ideal number of children","V715":"Husbands education-single yrs","V511":"Age at first marriage"})
 # Q.8 Code
reshape_mean_key_vars = pd.melt(mean_key_vars, id_vars = ["V024"], var_name = "variables", value_name= "values").rename(columns = {"V024":"dpto"})

#Considero que es lo máximo que se puede simplificar.

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

In [ ]:
# Usamos la función melt para trasponer la información de acuerdo a las variables y sus valores, 
# por departamento 
reshape_mean_key_vars = pd.melt(mean_key_vars, id_vars = ["V024"], var_name = "variables", value_name= "values").rename(columns = {"V024":"dpto"})
reshape_mean_key_vars

            dpto                 variables     values
0        Huanuco  Total children ever born   1.989754
1            Ica  Total children ever born   1.671034
2          Junin  Total children ever born   1.836656
3    La Libertad  Total children ever born   1.704082
4     Lambayeque  Total children ever born   1.673928
..           ...                       ...        ...
95      Ayacucho     Age at first marriage  20.340228
96     Cajamarca     Age at first marriage  19.610695
97        Callao     Age at first marriage  21.517241
98         Cusco     Age at first marriage  20.283154
99  Huancavelica     Age at first marriage  19.780769

[100 rows x 3 columns]

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

In [ ]:
#Limpiamos la data para manejarla
endes_2019["V613"] = endes_2019 ["V613"].replace("Respuesta no numérica", np.nan).astype(str). astype(float)
endes_2019["V715"] = endes_2019 ["V715"].replace("No sabe", np.nan).astype(str). astype(float)

In [218]:
# Sacamos la media de las variables: V201, V613, V715 y V511 de la base endes_2019
# y la agrupamos por la variable departamento (V024).
# Finalmente renombramos las columnas de acuerdo a la indicación.
mean_key_vars= endes_2019.groupby(["V024"], as_index=False)[["V201","V613", "V715","V511"]].mean(numeric_only=True).rename(columns={"V201":"Total children ever born","V613":"Ideal number of children","V715":"Husbands education-single yrs","V511":"Age at first marriage"})
mean_key_vars

,V024,Total children ever born,Ideal number of children,Husbands education-single yrs,Age at first marriage
0,Huanuco,1.989754,2.446940,8.842528,19.818632
1,Ica,1.671034,2.353429,11.825332,20.747208
2,Junin,1.836656,2.199660,10.942122,20.683761
3,La Libertad,1.704082,2.355519,9.907909,20.774678
4,Lambayeque,1.673928,2.399849,11.123396,20.953831
5,Lima,1.476121,2.235107,11.731348,21.946329
6,Loreto,2.157568,2.476703,10.109375,18.448529
7,Madre de Dios,1.972514,2.272398,10.729053,19.467449
8,Moquegua,1.626724,1.965613,12.568605,21.640046
9,Pasco,1.854436,2.526570,11.032680,20.395379
10,Piura,1.812752,2.611650,10.032480,20.451737
11,Puno,1.794307,2.024316,10.836151,20.398964
12,San Martin,1.903340,2.493333,9.621053,18.953155
13,Tacna,1.436502,2.013083,12.141403,22.065095
14,Tumbes,1.756925,2.469824,11.118095,19.409821
15,Ucayali,2.012258,2.388399,10.709355,18.985481
16,Amazonas,1.980892,2.443906,9.440580,19.266152
17,Ancash,1.771065,2.383260,10.495381,20.591581
18,Apurimac,2.003463,2.207269,10.537530,20.064982
19,Arequipa,1.539910,2.137875,12.244275,22.304394
20,Ayacucho,1.848787,2.209026,10.470772,20.340228
21,Cajamarca,1.931559,2.545923,8.708874,19.610695
22,Callao,1.567164,2.241724,11.663909,21.517241
23,Cusco,1.894415,2.100097,10.569194,20.283154
24,Huancavelica,2.083969,2.295098,9.879221,19.780769

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**

In [223]:
final_result = endes_2019.merge( reshape_mean_key_vars.rename(columns={"dpto":"V024"}), on = ["V024"] , how = "left" , validate = "m:m")
final_result
#Con la función merge unimos las bases en función a la variable "V024"
#Por ese motivo, renombramos la variable departamento para lograrlo. 
#Nombramos el dataframe con el que será nombrado y validamos con "m:m" para evitar la verificación, ya que no genera controles.

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V510,V511,V512,V513,V525,V613,V714,V715,variables,values
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0,Total children ever born,1.980892
1,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0,Ideal number of children,2.443906
2,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0,Husbands education-single yrs,9.440580
3,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0,Age at first marriage,19.266152
4,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total children ever born,1.980892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153335,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,Tiene mes y año,13.0,11.0,De 10 a 14 años,13.0,2.0,No,11.0,Age at first marriage,18.985481
153336,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,Tiene mes y año,16.0,6.0,De 5 a 9 años,15.0,2.0,No,11.0,Total children ever born,2.012258
153337,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,Tiene mes y año,16.0,6.0,De 5 a 9 años,15.0,2.0,No,11.0,Ideal number of children,2.388399
153338,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,Tiene mes y año,16.0,6.0,De 5 a 9 años,15.0,2.0,No,11.0,Husbands education-single yrs,10.709355
153339,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,Tiene mes y año,16.0,6.0,De 5 a 9 años,15.0,2.0,No,11.0,Age at first marriage,18.985481