# Assigment 4

This assigment will be graded if everything works well. I will run the script as once and everything should be done without errors and mistakes. I should be able to run your scripts in my computer and get all the results. **USE RELATIVE PATHS**. An error or exception or anything that breaks the code will means NO GRADE (0). Additionally, you are not able to modify any file handly. It also means NO GRADE (0). Comment everything you think will help others read your script. We expect 0 errors using GitHub. Everything will be graded!

**ASK EVERYTHING! WE ARE HERE TO HELP YOU!**

In this path **..\_data\sbs\B_RawData\bancos** you will find scraped data from [this link](https://www.sbs.gob.pe/app/pp/EstadisticasSAEEPortal/Paginas/TIActivaTipoCreditoEmpresa.aspx?tip=B). We get all the information of the last available day of every each month.

1. Import all the data and generate a column named as `date_info` that should have the day to information corresponds.
2. Append all this datasets and generate a unique dataframe. This newdataset should have information at `rate interest` and `date` level. The columns should be the name of the banks. Be careful since not all the excel files have the same format. **It is totally prohibited to manipulate manually the excel files. This kind of action means NO GRADE on this project.**
3. What are the top 5 banks each year with the highest interest rate at `Préstamos hipotecarios para vivienda`, `Consumo -
Tarjetas de Crédito`. Present a dataframe with these variables: `year`, `rate_concept`, `banks`, `rate_value`.
4. We want to save this dataset in the folder **_output/sbs/group_#**, but we want to save a file per bank. We want to have the information disaggregated at the bank level. Please, save your files with the name of the bank. Avoid blank spaces and use only lowercase letters. Generate the folder of your group using python code. **Hint: os library**

### SOLUTIONS

#### Part 1.

In [ ]:
import pandas as pd
import numpy as np
import os
import re

In [ ]:
# Set relative and full paths

path = '../../_data/sbs/B_RawData/bancos/'
fullpath = os.path.abspath('../../_data/sbs/B_RawData/bancos/')

In [ ]:
# Import excel files and add a column called "date_info", which takes information from the excel files names.

dfs = []
for file in os.listdir(path):
    date_info = file[file.rindex('table_clean_')+12:]
    date_info = date_info[:-5]
    table_names_path = os.path.join(fullpath, f'{file}')
    data = pd.read_excel(table_names_path)
    data['date_info'] = date_info
    dfs.append(data)

#### Part 2.

In [ ]:
# Loop to homogenize the excel files

for i, df in enumerate(dfs):
    if dfs[i].shape[0] < 25:
        dfs[i] = dfs[i].T
        new_colnames = dfs[i].iloc[0]
        dfs[i] = dfs[i][1:]
        dfs[i].columns = new_colnames
        dfs[i] = dfs[i].reset_index()
        dfs[i].columns.values[0] = "first_col"
        dfs[i].columns.values[1] = "second_col"
        dfs[i].columns.values[2] = "third_col"
        dfs[i].columns.values[-1] = "last_col"
        dfs[i][dfs[i]['last_col'].isnull()]=dfs[i][dfs[i]['last_col'].isnull()].shift(axis=1)
        dfs[i] = dfs[i].shift(-1, axis=1).dropna(axis=1)
        dfs[i]['catamaran'] = dfs[i].iloc[:,-1:]
        if dfs[i].shape[1] > 1: 
            dfs[i]['date_info'] = dfs[i]['catamaran'].iloc[len(dfs[i].index) - 1]
            dfs[i]['Tasa Anual (%)'] = dfs[i]['first_col'] + dfs[i]['third_col']
            dfs[i] = dfs[i].drop(['first_col', 'second_col', 'third_col', 'catamaran'], axis=1)
            dfs[i] = dfs[i].iloc[:-1 , :]
            dfs[i].index.names = ['index']

In [ ]:
# Append vertically the excel files

data = pd.concat(dfs)

In [ ]:
# Order columns

data = data.reindex(columns =['Tasa Anual (%)', 'date_info', 'TRABAJO',
                              'BBVA', 'BANCO DE COMERCIO', 'BANCO DE CREDITO',
                              'BANCO PICHINCHA', 'BANBIF', 'STANDARD CHARTERED',
                              'BANCO SUDAMERICANO', 'WIESE SUDAMERIS', 'BANK BOSTON',
                              'BNP PARIBAS EL', 'CITIBANK DEL PERU','INTERBANK', 
                              'MIBANCO','SCOTIABANK PERU', 'HSBC', 'BANCO FALABELLA', 
                              'SANTANDER PERU','BANCO RIPLEY', 'ALFIN BANCO', 
                              'DEUTSCHE BANK PERU','Promedio del Sistema', 'Comercio', 
                              'Crédito', 'Pichincha', 'BIF','Scotiabank', 'Citibank', 
                              'Interbank', 'Mibanco', 'GNB', 'Falabella', 'Santander', 
                              'Ripley', 'Azteca', 'ICBC', 'Bank of China', 'Promedio',
                              'Continental', 'Financiero', 'Banco GNB', 'Deutsche', 
                              'Cencosud', 'CAT', 'Alfin', 'B SANTANDER CENTRAL', 'Azteca  *',
                              'HSBC(*)', 'Financiero  *', 'BCI'])

In [ ]:
data.to_excel('final_data.xlsx')

## Part 3.

In [ ]:
df = pd.read_excel(r'final_data.xlsx')
df.head()

,Unnamed: 0,Tasa Anual (%),date_info,TRABAJO,BBVA,BANCO DE COMERCIO,BANCO DE CREDITO,BANCO PICHINCHA,BANBIF,STANDARD CHARTERED,...,Banco GNB,Deutsche,Cencosud,CAT,Alfin,B SANTANDER CENTRAL,Azteca *,HSBC(*),Financiero *,BCI
0,0,Avances en Cta.Corriente-,26_2_2004,38.92,-,73.34,-,39.08,-,31.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Sobregiros-,26_2_2004,48.79,138.18,89.00,-,68.30,25.00,58.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Dsctos. y préstamos hasta 30 días-,26_2_2004,8.19,47.46,4.62,15.87,14.43,-,30.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Dsctos. y préstamos 31 - 90 días-,26_2_2004,5.94,21.61,7.19,15.71,10.91,-,11.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Dsctos. y préstamos 91 - 180 días-,26_2_2004,10.00,19.71,5.34,15.82,10.71,-,9.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#DEBEMOS PERCATARNOS que hay datos de múltiples años, será necesario ubicar el dato correspondiente a cada ano y luego generr el ranking para las tres variables requerida

In [ ]:
index = df.index
print(index)

RangeIndex(start=0, stop=9154, step=1)

In [ ]:
df.iloc[:,0:2]

                                         Tasa Anual (%)  date_info
0                             Avances en Cta.Corriente-  26_2_2004
1                                           Sobregiros-  26_2_2004
2                    Dsctos. y préstamos hasta 30 días-  26_2_2004
3                     Dsctos. y préstamos 31 - 90 días-  26_2_2004
4                    Dsctos. y préstamos 91 - 180 días-  26_2_2004
...                                                 ...        ...
9149  Préstamos no Revolventes para libre disponibil...  31_8_2022
9150  Préstamos no Revolventes para libre disponibil...  31_8_2022
9151                             Créditos pignoraticios  31_8_2022
9152                                       Hipotecarios  31_8_2022
9153               Préstamos hipotecarios para vivienda  31_8_2022

[9154 rows x 2 columns]

In [ ]:
df.date_info.unique()
#estos son todos los valores únicos en la columna date_info

In [ ]:
#notemos que podemos filtrar la base por el valor de una observación en la columna date_info
value='26_2_2004'
dfa=df.query("date_info == @value")

In [ ]:
dfa.head(3) #este dataframe solo cuenta con observaciones que son del 26/02/2004

In [ ]:
array_date = df.date_info.unique() #guardamos todos los valores únicos de fecha en un objeto array
dict1 = {} #generamos un diccionario vacío

#para cada fecha única en el array_date generaremos un dataframe que, a su vez, estará almacenado en un diccionario llamato dict1
for date in array_date:
    dict1[f'df_{date}']=df.query("date_info == @date") #condición para filtrar por date
    print(date)
    
#Notemos que al array_date tiene una nan, hay que eliminarlo para que el código corra (lo haremos a continuación)

In [ ]:
array_date  = array_date [~pd.isnull(array_date)] #eliminamos los nan en el array
array_date

In [ ]:
dict1["df_26_2_2010"].head() #de esta forma llamamos a un dataframe dentro del diccionario, especificando su date_info

Para cada dataframe del grupo dividido según fecha (en dict1) realizaremos el mismo procesamiento y generaremos un nuevo dataframe. Ahora bien, notemos que la fila de Préstamos hipotecarios para vivienda es la última en cada dataframe, que los nombres de esta fila son diferentes en cada frame, pero la posición es la misma, es decir, la última del dataframe. Aprovehcemos esto para el procesamiento

In [ ]:
print(dict1["df_26_2_2010"].iloc[-1,:], dict1["df_30_6_2022"].iloc[-1,:], dict1["df_31_5_2007"].iloc[-1,:]) 
#ejemplo de que la información de créditos hipotecarios se encuentra en la última fila de dos dataframe relativos al 26 de febrero de 2010 y al 30 de junio de 2022

In [ ]:
type(dict1["df_26_2_2010"].iloc[-1,:]) #esta información está almacenada en forma de serie

In [ ]:
array_date = df.date_info.unique() #guardamos todos los valores únicos de fecha en un objeto array
array_date  = array_date [~pd.isnull(array_date)] #eliminamos los NaN
dict1 = {} #generamos un diccionario vacío para guardar las series que contienen información del crédito hipotecario (según banco), una por cada fecha
df3 = pd.DataFrame() #generamos un dataframe vacío para guardar la información de cada fecha

for date in array_date:
    dict1[f'df_{date}']=df.query("date_info == @date") #condición para filtrar por date (el nombre de cada dataframe será: df_fecha)
    serie_row= dict1[f'df_{date}'].iloc[-1,:] #guardamos el resultado de la información de crédito hipotecario en una serie
    df3[f'CH_{date}'] = serie_row.to_frame() #convertimos las series en un dataframe, cada serie representará una columna de df3

pandas.core.series.Series

In [ ]:
df3 = df3.drop(df3.index[0:2]).reset_index()  #eliminamos las dos primeras filas del objeto y generamos un nuevo índice
df3 = df3.rename(columns = {'index':'Nombre del banco'}) #renombramos la columna con información de nombre de bancos
df3.head()

In [ ]:
#reemplazamos la información que es texto con valores nulos y convertimos los missings en valores nulos
df3 = df3.replace(['-','s.i.'], 0).fillna(0)

In [ ]:
df3.iloc[:,1:] = df3.iloc[:,1:].astype(float)  #convertimos las columnas con información de tasas a formato float
df3.head(3)

In [ ]:
df3.dtypes #confirmamos que el proceso fue exitoso

In [ ]:
df_top5 = df3.iloc[:,0:2].nlargest(5, ['CH_26_2_2004']) #de esta forma identificamos a los bancos con las tasas de interés de crédito hipotecario más altas en la fecha indicada por el nombre de la columna
df_top5

In [ ]:
df_top5 = df3.iloc[:,0:2].nlargest(5, ['CH_26_2_2004']) #de esta forma identificamos a los bancos con las tasas de interés de crédito hipotecario más altas en la fecha indicada por el nombre de la columna
df_top5

In [ ]:
#pero el ejercicio requiere cambiar la denominación de las columnas e incluir el año y concepto de tasa de interés
df_top5.rename(columns = {'Nombre del banco':'banks', 'CH_26_2_2004':'rate_value'}, inplace = True)
df_top5['year']= 2004
df_top5['rate_concept']= 'Crédito Hipotecario'
df_top5

Podemos generar un loop para obtener la información del resto de fechas replicando el proceso previo (ahora para cada fecha)

In [ ]:
df3.loc[:,['Nombre del banco','CH_26_2_2004']].head(3) #así extraemos la columna de nombre de banco y una columna dada de fecha
#esto será necesario al momento de generar el loop

In [ ]:
dict3 = {} #generamos un diccionario vacío

#replicamos el códgio previo empleando un iterador que corra a través del array de fechas
for date in array_date:
    dict3[f'df_top5_{date}']=df3.loc[:,['Nombre del banco',f'CH_{date}']].nlargest(5, [f'CH_{date}']) 
    dict3[f'df_top5_{date}']['year'] = f'{date}'
    dict3[f'df_top5_{date}']['rate_concept'] = 'Crédito Hipotecario' 
    #llenamos el didcionario de dataframes que contengan solo el nombre, la fecha, el concepto de tasa y la tasa de interés de los cinco bancos con mayor tasa de interés por fecha

In [ ]:
#por ejemplo:
dict3['df_top5_30_6_2021']

In [ ]:
dict3['df_top5_30_6_2021'].append(dict3['df_top5_26_2_2004'], ignore_index=True)
#Notemos que dado que los nombres de las columnas de valores no coinciden, no podemos integrar verticalmente la información sin generar NaN

In [ ]:
#generamos un dataframe vacío
dfx = pd.DataFrame()

for date in array_date:
    dict3[f'df_top5_{date}'].rename(columns = {f'CH_{date}':'rate_value'}, inplace = True)
    #La línea anterior cambia el nombre de todas las columnas, de forma que podamos integrarlas verticalmente
    dfx = dfx.append(dict3[f'df_top5_{date}'])

In [ ]:
dfx

In [ ]:
dfx.rename(columns = {'Nombre del banco':'banks'}, inplace = True) #cambiamos el nombre de la columna de información de bancos
dfx['year'] = dfx['year'].str[-4:] #nos quedamos con el año de la fecha (en formato string)
dfx.reset_index(inplace=True) #generamos un nuevo índice 
dfx.drop(['index'],axis=1,inplace=True) #quitamos el índice
dfx

El código para las tasas de interés de consumo y tarjeta de crédito es similar al desarrollado previamente, como veremos a continuación.

In [ ]:
dict1["df_31_10_2007"].iloc[7]
#no obstante, hay una distinción importante. En el caso de esta caategoría, mantiene distintas posiciones en las bases generadas

In [ ]:
dict1["df_30_11_2016"]
#como se muestra aquí

In [ ]:
#será necesario establecer una condición para extraer solo las filas relativas a la tasa de interés de tarjetas de crédito
df = pd.DataFrame()
df['sub_string'] = dict1["df_31_10_2007"]['Tasa Anual (%)'].str[0:2] #así podemos extraer las primeras letras de los strings de las filas en el dataframe

In [ ]:
df.head() #el resultado

In [ ]:
df= dict1["df_31_10_2007"] # y de esta forma podemos filtrar por todas las filas que contengan la palabra tarjeta
df[df['Tasa Anual (%)'].str.contains('Tarjeta')].iloc[0]

In [ ]:
df = pd.read_excel(r'E:\UNIVERSIDADES\DIPLOMATURA_QLAB\Fundamentos_Python\Data\final_data.xlsx')
df.head(2)

In [ ]:
dict4 = {} #generamos un diccionario vacío para guardar las series que contienen información del crédito hipotecario (según banco), una por cada fecha
df4 = pd.DataFrame() 

for date in array_date:
    dict4[f'df_{date}']=df.query("date_info == @date") #condición para filtrar por date (el nombre de cada dataframe será: df_fecha)
    serie_row= dict4[f'df_{date}'][dict4[f'df_{date}']['Tasa Anual (%)'].str.contains('Tarjeta')].iloc[0] #guardamos el resultado de la información de crédito hipotecario en una serie
    df4[f'CH_{date}'] = serie_row.to_frame() #convertimos las series en un dataframe, cada serie representará una columna de df3

In [ ]:
df4.head(2)

In [ ]:
df4 = df4.drop(df4.index[0:2]).reset_index()  #eliminamos las dos primeras filas del objeto y generamos un nuevo índice
df4 = df4.rename(columns = {'index':'Nombre del banco'}) #renombramos la columna con información de nombre de bancos
df4.head()

In [ ]:
df4 = df4.replace(['-','s.i.'], 0).fillna(0) #cambiamos las observaciones strings y NaN

In [ ]:
df4.iloc[:,1:] = df4.iloc[:,1:].astype(float)  #convertimos las columnas con información de tasas a formato float
df4.head(3)

In [ ]:
dict5 = {} #generamos un diccionario vacío

#replicamos el códgio previo empleando un iterador que corra a través del array de fechas
for date in array_date:
    dict5[f'df_top5_{date}']=df4.loc[:,['Nombre del banco',f'CH_{date}']].nlargest(5, [f'CH_{date}']) 
    dict5[f'df_top5_{date}']['year'] = f'{date}'
    dict5[f'df_top5_{date}']['rate_concept'] = 'Tarjeta de crédito' 
    #llenamos el didcionario de dataframes que contengan solo el nombre, la fecha, el concepto de tasa y la tasa de interés de los cinco bancos con mayor tasa de interés por fecha

In [ ]:
dfy = pd.DataFrame()

for date in array_date:
    dict5[f'df_top5_{date}'].rename(columns = {f'CH_{date}':'rate_value'}, inplace = True)
    #La línea anterior cambia el nombre de todas las columnas, de forma que podamos integrarlas verticalmente
    dfy = dfy.append(dict5[f'df_top5_{date}'])

In [ ]:
dfy.rename(columns = {'Nombre del banco':'banks'}, inplace = True) #cambiamos el nombre de la columna de información de bancos
dfy['year'] = dfy['year'].str[-4:] #nos quedamos con el año de la fecha (en formato string)
dfy.reset_index(inplace=True) #generamos un nuevo índice 
dfy.drop(['index'],axis=1,inplace=True) #quitamos el índice
dfy

Por último, integramos verticalmente ambos dataframes

In [ ]:
dfz = dfx.append(dfy, ignore_index=True) #aplicamos append a a ambas bases
dfz

## Part 4.

In [ ]:
df.rename(columns = {'Tasa Anual (%)':'tasa_anual_percentage', 
                     'Azteca  *':'Azteca',
                     'HSBC(*)':'HSBC',
                     'Financiero  *':'Financiero'}, inplace = True)

In [ ]:
# Quitar espacios y letras mayúsculas de los nombres de las columnas
df.columns = df.columns.str.replace(' ', '_')
df.columns = df.columns.str.lower()

In [ ]:
# Crear bases por cada uno de los bancos
not_requiered_columns = ['tasa_anual_percentage', 'date_info', 'trabajo']
bases = []
for col in df.columns.values:
    if col not in not_requiered_columns:
        data = df[['tasa_anual_percentage', 'date_info', col]]
        bases.append(data)

In [ ]:
# Crear el nuevo folder en la direccion especificada
import os

new_path = '../../_output/sbs/group7'
if not os.path.exists( new_path ):
   os.makedirs( new_path )

In [ ]:
# Exportar las bases al path indicado
for base in bases:
    cols_names = [col for col in base if col not in not_requiered_columns]
    for col in cols_names:
        new_table_names_path = os.path.join(new_path, f'{col}.xlsx')
        base.to_excel(new_table_names_path)