# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Dictionaries
1. Create a dictionary with two keys: `even_numbers` and `odd_numbers`. The first key should have all the even numbers in this range `[0, 2000]`, and the second key must have all the odd numbers in this range `[9000, 19000]`. The values should be stored in a `list`. **Hint: Use the `np.arange`, `zip`, and `np.tolist()` functions.** <br><br>
2. Print the value of `brand` key of `car` dictionary. **Hint: Use the `get` method.** <br><br>
3. Print all the the values of `brand` key of `car` dictionary. **Hint: Use the `values` method.** <br><br>
4. Print the max value  of `friday` in `january` of `hr_sleep` dictionary. **Hint: [Indexing in nested dictioanries](https://stackoverflow.com/questions/25836376/how-to-get-the-inner-indexes-of-a-nested-dictionary-in-python).** <br><br>
5. Add `march` key to the `hr_sleep` dictionary using `week1` and `values2` Python lists. **Hint: Use `zip` function adn [this link](https://stackoverflow.com/questions/1024847/how-can-i-add-new-keys-to-a-dictionary).** <br><br>

In [35]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

hr_sleep = {"january": {"wednesday": 7,
                      "thursday": 8,
                      "friday": [2, 2, 1, 2]},
          "february": {"saturday": 5,
                       "sunday": 10,
                       "monday": 8
          }
}

In [17]:
week1 = ['monday', 'sunday']
values2 = [ [2, 3, 4 ] , 8, ]

1. Kevin

In [13]:
# Importing numpy package
import numpy as np

# Creating two lists of the even and odd numbers
evenNumbers = np.arange(0,2001,2).tolist()
oddNumbers = np.arange(9001,19002,2).tolist()

# Creating the lists that will be used to zip and create the dictionary
keys = [ "Even_Numbers" , "Odd_Numbers"]
elements = [ evenNumbers , oddNumbers]

# Creating the dictionary with the key and elements listed before
dict1 = dict(zip(keys , elements))

# Proving that elements of each key are lists.
print(type(dict1.get("Even_Numbers")))
print(type(dict1.get("Odd_Numbers")))

<class 'list'>
<class 'list'>

2. In order to print the value of the "brand" key of car dictionary we need to use the following code:

In [8]:
car.get("brand")

'Ford'

3. César A

In [25]:
# First, we use the values method to obtain all the elements related to every key of "car" dictionary. Then we transform it to a list in order to have a list with 3 elements, each of them are the elements of every key. The first element (index 0) is the element related to the "brand" key of "car" dictionary.
list(car.values())[0]

'Ford'

4. Percy

In [31]:
# First we use the get method in order to get all the elements related to "january" key. Then we can notice that the element of "january" key is another dictionary, so we can use again the get method to obtain the element related to "friday" key. Finally, we use max function to obtain the maximum value of friday.

maximo = max(hr_sleep.get("january").get("friday"))
print(maximo)

2

5. Diana

In [38]:
# First we use week1 and values2 lists to create a new dictionary named march

march = dict(zip(week1, values2))

# Then we use the update method to hr_sleep dictionary in order to add march key and the march dictionary as the element related to march key.
hr_sleep.update( {"march" : march} )
print(hr_sleep)

# Now we make sure that the key is correctly added.
list(hr_sleep.keys())

{'january': {'wednesday': 7, 'thursday': 8, 'friday': [2, 2, 1, 2]}, 'february': {'saturday': 5, 'sunday': 10, 'monday': 8}, 'march': {'monday': [2, 3, 4], 'sunday': 8}}

['january', 'february', 'march']

## 1.2 Numpy
1. Replace all the `even_numbers` in `np1` with 100. **Hint: Use `indexing` in arrys and [this filer](https://stackoverflow.com/questions/41638751/filtering-even-numbers-in-python).** <br><br>
2. Create a 3x3 matrix with values ranging from 0 to 8. **Hint: Use `np.arange` and `np.reshape` method.** <br><br>
3. Consider an array `Z = [1,2,3,4,5,6,7,8,9,10]`, generate an array `R = [ [ 1, 2, 3, 4], [ 2, 3, 4, 5 ], [ 3, 4, 5, 6 ], ..., [ 7, 8, 9, 10 ] ]`?.**Hint: Use `np.arange` and `np.concatenate`** <br><br>
4. Create a 3x3x3 array with random values. **Hint: Use [`np.random.random`](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.random.html).** <br><br>
5. Comment why this expression `np.nan == np.nan` is False. **Hint: Use stackoverflow.** <br><br>
6. Print the `mean` and `standard deviation` of `np2`. **Hint: Use `f-string`, `np.mean`, and `np.var` methods.**

In [2]:
import numpy as np
np1 = np.arange( 200, 750)
np2 = np.random.normal( 50 , 4, 300)

1. César A.

In [51]:
# First we use the indexing filter (np1%2==0) in order to get every item of np1 array that is even, then we replace them it to 100.
np1[(np1%2==0)]=100
print(np1)

[100 201 100 203 100 205 100 207 100 209 100 211 100 213 100 215 100 217
 100 219 100 221 100 223 100 225 100 227 100 229 100 231 100 233 100 235
 100 237 100 239 100 241 100 243 100 245 100 247 100 249 100 251 100 253
 100 255 100 257 100 259 100 261 100 263 100 265 100 267 100 269 100 271
 100 273 100 275 100 277 100 279 100 281 100 283 100 285 100 287 100 289
 100 291 100 293 100 295 100 297 100 299 100 301 100 303 100 305 100 307
 100 309 100 311 100 313 100 315 100 317 100 319 100 321 100 323 100 325
 100 327 100 329 100 331 100 333 100 335 100 337 100 339 100 341 100 343
 100 345 100 347 100 349 100 351 100 353 100 355 100 357 100 359 100 361
 100 363 100 365 100 367 100 369 100 371 100 373 100 375 100 377 100 379
 100 381 100 383 100 385 100 387 100 389 100 391 100 393 100 395 100 397
 100 399 100 401 100 403 100 405 100 407 100 409 100 411 100 413 100 415
 100 417 100 419 100 421 100 423 100 425 100 427 100 429 100 431 100 433
 100 435 100 437 100 439 100 441 100 443 100 445 100 447 100 449 100 451
 100 453 100 455 100 457 100 459 100 461 100 463 100 465 100 467 100 469
 100 471 100 473 100 475 100 477 100 479 100 481 100 483 100 485 100 487
 100 489 100 491 100 493 100 495 100 497 100 499 100 501 100 503 100 505
 100 507 100 509 100 511 100 513 100 515 100 517 100 519 100 521 100 523
 100 525 100 527 100 529 100 531 100 533 100 535 100 537 100 539 100 541
 100 543 100 545 100 547 100 549 100 551 100 553 100 555 100 557 100 559
 100 561 100 563 100 565 100 567 100 569 100 571 100 573 100 575 100 577
 100 579 100 581 100 583 100 585 100 587 100 589 100 591 100 593 100 595
 100 597 100 599 100 601 100 603 100 605 100 607 100 609 100 611 100 613
 100 615 100 617 100 619 100 621 100 623 100 625 100 627 100 629 100 631
 100 633 100 635 100 637 100 639 100 641 100 643 100 645 100 647 100 649
 100 651 100 653 100 655 100 657 100 659 100 661 100 663 100 665 100 667
 100 669 100 671 100 673 100 675 100 677 100 679 100 681 100 683 100 685
 100 687 100 689 100 691 100 693 100 695 100 697 100 699 100 701 100 703
 100 705 100 707 100 709 100 711 100 713 100 715 100 717 100 719 100 721
 100 723 100 725 100 727 100 729 100 731 100 733 100 735 100 737 100 739
 100 741 100 743 100 745 100 747 100 749]

2. In order to create a 3x3 matrix with values ranging from 0 to 8 we need to use first the `np.arange` function to create a vector from 0 to 8 elements. Then, we apply the `np.reshape` method to transform the vector to a 3x3 matrix. <br><br>

In [13]:
# Here we are creating first the vector 1x9, then reshaping it to a 3x3 matrix
mat1 = np.arange(0,9,1).reshape(3,3)
print(mat1)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

3. César A.

In [ ]:
# 3. Consider an array `Z = [1,2,3,4,5,6,7,8,9,10]`, generate an array `R = [ [ 1, 2, 3, 4], [ 2, 3, 4, 5 ], [ 3, 4, 5, 6 ], ..., [ 7, 8, 9, 10 ] ]`?.**Hint: Use `np.arange` and `np.concatenate`** <br><br>

4. Percy

In [3]:
np.random.random((3,3,3))

array([[[0.42134291, 0.97512838, 0.33169394],
        [0.95309505, 0.36592932, 0.89897696],
        [0.52752119, 0.07810298, 0.9714482 ]],

       [[0.95525919, 0.27137073, 0.80599852],
        [0.78837949, 0.37753449, 0.8754653 ],
        [0.84903607, 0.34229196, 0.84417018]],

       [[0.49036975, 0.90213403, 0.9038224 ],
        [0.96683105, 0.18105741, 0.8824089 ],
        [0.29686131, 0.11123568, 0.85538681]]])

5. np.nan == np.nan is False because you can't equalize two values that does not exist. So if you try to do a mathematical or logical operation like equalize, the output will be False.

In [66]:
# 5. Comment why this expression `np.nan == np.nan` is False. **Hint: Use stackoverflow.** <br><br>

np.nan == np.nan

nan

6. Diana

In [80]:
# 6. Print the `mean` and `standard deviation` of `np2`. **Hint: Use `f-string`, `np.mean`, and `np.var` methods.**
mean = np.mean(np2)
sd = np.sqrt(np.var(np2))

f'The mean of np2 is {mean} and the standard deviation is {sd}'

'The mean of np2 is 49.88154376990469 and the standard deviation is 3.7009263660271396'

## Restricted Least Squares

Given the following equation:


$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \frac{1}{2}\beta_{qq} lnq^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q3}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \frac{1}{2}\beta_{11}ln^{2}p_1+ \frac{1}{2}\beta_{22}ln^{2}p_{2}+ \frac{1}{2}\beta_{33}ln^{2}p_{3} + \frac{1}{2}\beta_{12}lnp_{1}lnp_{2}+ \frac{1}{2}\beta_{13}lnp_{1}lnp_{3}+\frac{1}{2}\beta_{23}lnp_{2}lnp_{3}
\end{aligned}
$$


ST: 

<br>
$$
\begin{aligned} 
\beta_{1} + \beta_{2} + \beta_{3} &= 1 \\
\beta_{q1} + \beta_{q2} + \beta_{q3} &= 0 \\
\beta_{11} + \beta_{12} + \beta_{13} &= 0 \\
\beta_{21} + \beta_{22} + \beta_{23} &= 0 \\
\beta_{31} + \beta_{32} + \beta_{33} &= 0 \\
\beta_{ij} = \beta_{ji}
\end{aligned}
$$


1. Get $\widehat{\boldsymbol{\beta}}^{(RLS)}$ vector from the equation bellow. Use the `q`, `p1`, `p2`, `p3`, `CT` numpies. <br><br>
2. Get the `covariance matrix` $\mathbb{V}{\rm ar} \left(\widehat{\boldsymbol{\beta}}^{(RLS)} \right)$. <br><br>
**Hint: For more information about Restricted Least Squares [click here](http://web.vu.lt/mif/a.buteikis/wp-content/uploads/PE_Book/4-4-Multiple-RLS.html).**<br>

In [5]:
import pandas as pd
greene = pd.read_csv(r"../../_data/christensen_greene_f4.csv")

In [6]:
ct = greene.COST.values
q = greene.Q.values
p1 = greene.PL.values
p2 = greene.PF.values
p3 = greene.PK.values

1. In order to obtain the $\widehat{\boldsymbol{\beta}}^{(RLS)}$ vector we need to estimate the following equation:
$$
\begin{aligned}

\widehat{\beta}^{(RLS)} =  \widehat{\beta}^{(OLS)} - (X'X)^{-1}L'(L(X'X)^{-1}L')^{-1}(L\widehat{\beta}^{(OLS)}-r)

\end{aligned}
$$

Where:
$$
\begin{aligned}

\widehat{\beta}^{(OLS)} =   (X'X)^{-1}(X'Y)

\end{aligned}
$$

So first we need to obtain the X matrix, Y vector, L matrix and r vector. After that, we can estimate both $\widehat{\boldsymbol{\beta}}^{(OLS)}$ and $\widehat{\boldsymbol{\beta}}^{(RLS)}$

In [ ]:
# First create the Y vector:
Y = np.log(ct)
print(Y)

In [ ]:
# Then create the X matrix:
X = np.column_stack([np.log(q), np.log(np.power(q,2))/2, np.log(q)*np.log(p1) , np.log(q)*np.log(p2), np.log(q)*np.log(p3),
                     np.log(p1), np.log(p2) , np.log(p3) , np.power(np.log(p1),2)/2 , np.power(np.log(p2),2)/2 , np.power(np.log(p3),2)/2,
                     np.log(p1)*np.log(p2)/2 , np.log(p1)*np.log(p3)/2 , np.log(p2)*np.log(p3)/2])
print(X)

In [ ]:
# Now create the L matrix
L = np.vstack((np.concatenate((np.zeros(5) , np.ones(3) , np.zeros(6))),
               np.concatenate((np.zeros(2),np.ones(3),np.zeros(9))),
               np.concatenate((np.zeros(8),np.ones(1),np.zeros(2),np.ones(2),np.zeros(1))),
               np.concatenate((np.zeros(9),np.ones(1),np.zeros(1),np.ones(1),np.zeros(1),np.ones(1))),
               np.concatenate((np.zeros(10),np.ones(1),np.zeros(1),np.ones(2))),))
print(L)

In [ ]:
# Now create the r vector:
r = np.concatenate((np.ones(1),np.zeros(4)))
print(r)

In [ ]:
# Now we have estimate the beta OLS
b_ols = np.linalg.inv(X.T @ X) @ X.T @ Y
print(b_ols)

In [47]:
# Now we estimate the beta RLS
b_rls = b_ols - np.linalg.inv(X.T @ X) @ L.T @ np.linalg.inv(L @ np.linalg.inv(X.T @ X) @ L.T) @ (L @ b_ols - r)
print(b_rls)

[-3.42685704e+15  3.42685564e+15  1.91165951e+02 -1.21944620e+02
 -6.92213315e+01  1.03428667e+03  7.46752423e+01 -1.10796191e+03
 -3.36794605e+02  6.39645326e+02  4.25101967e+02  6.11256229e+01
  2.75668982e+02 -7.00770949e+02]

To estimate the Var($\widehat{\boldsymbol{\beta}}^{(RLS)}$), we need to estimate the following equations:
\begin{aligned}

Var(\widehat{\beta}^{(RLS)}) =  \sigma^2 (X'X)^{-1} - \sigma^2 (X'X)^{-1} L'(L(X'X)^{-1}L')^{-1}L(X'X)^{-1}
\end{aligned}

\begin{aligned}
\widehat{\sigma}_{RLS} = (\widehat{\epsilon}'\widehat{\epsilon})/(N - (k + 1 - M))

\end{aligned}

\begin{aligned}
\widehat{\epsilon} = Y - X\widehat{\beta}_{RLS}
\end{aligned}

So we need first to estimate the residuals errors, then estimate the variance of the residuals in order to obtain the estimate of Var($\widehat{\boldsymbol{\beta}}^{(RLS)}$)

In [ ]:
# First we generate the residuals vector:

e = Y - X @ b_rls
print(e)

In [42]:
# Now we estimate the variance of the RLS residuals:
sigma2_rls = e.T @ e / (len(Y) - (np.shape(X)[1] + 1 - len(r)))

In [46]:
# Now we can estimate the Variance of the RLS estimator
var_b_rls = sigma2_rls * np.linalg.inv(X.T @ X ) - sigma2_rls * np.linalg.inv(X.T @ X) @ L.T @ np.linalg.inv(L @ np.linalg.inv(X.T @ X) @ L.T) @ L @ np.linalg.inv(X.T @ X)
print(var_b_rls)

[[-7.19903356e+43  7.19903356e+43 -3.70905149e+31  3.42427692e+31
   2.84774569e+30 -1.45456802e+32  6.21091637e+32 -4.75634834e+32
   2.05272215e+31  8.11367735e+32 -7.49311815e+32 -7.90603386e+32
   7.70076164e+32 -2.07643493e+31]
 [ 7.19903356e+43 -7.19903356e+43  3.70905149e+31 -3.42427692e+31
  -2.84774569e+30  1.45456802e+32 -6.21091637e+32  4.75634834e+32
  -2.05272215e+31 -8.11367735e+32  7.49311815e+32  7.90603386e+32
  -7.70076164e+32  2.07643493e+31]
 [-3.26276184e+31  3.26276184e+31 -1.26057507e+19  1.30056706e+19
  -3.99919894e+17 -3.26605369e+19  2.72285672e+20 -2.39625135e+20
  -0.00000000e+00  3.73815753e+20 -3.23865488e+20 -3.48840620e+20
   3.48840620e+20 -2.49751322e+19]
 [ 1.90798361e+31 -1.90798361e+31  7.31630887e+18 -4.44727328e+18
  -2.86903558e+18  1.64930280e+19 -1.79404453e+20  1.62911425e+20
   0.00000000e+00 -2.16406237e+20  1.85499438e+20  2.00952838e+20
  -2.00952838e+20  1.54533995e+19]
 [ 1.35477823e+31 -1.35477823e+31  5.28944187e+18 -8.55839735e+18
   3.26895548e+18  1.61675089e+19 -9.28812193e+19  7.67137104e+19
  -0.00000000e+00 -1.57409515e+20  1.38366050e+20  1.47887783e+20
  -1.47887783e+20  9.52173266e+18]
 [-3.79446943e+32  3.79446943e+32 -1.62233116e+20  1.58429054e+20
   3.80406187e+18 -3.40751179e+20  3.19761409e+21 -2.85686291e+21
   0.00000000e+00  4.37299105e+21 -3.83875852e+21 -4.10587478e+21
   4.10587478e+21 -2.67116265e+20]
 [ 6.96653488e+31 -6.96653488e+31  2.66857996e+19 -4.79313591e+19
   2.12455595e+19  6.47210138e+19 -3.24054997e+20  2.59333983e+20
   0.00000000e+00 -6.72055569e+20  6.12837573e+20  6.42446571e+20
  -6.42446571e+20  2.96089978e+19]
 [ 3.09781594e+32 -3.09781594e+32  1.35547316e+20 -1.10497695e+20
  -2.50496214e+19  2.76030166e+20 -2.87355909e+21  2.59752893e+21
   0.00000000e+00 -3.70093548e+21  3.22592094e+21  3.46342821e+21
  -3.46342821e+21  2.37507267e+20]
 [ 9.96074629e+31 -9.96074629e+31  4.20158860e+19 -4.19386757e+19
  -7.72102942e+16  9.30623750e+19 -8.39492212e+20  7.46429837e+20
   0.00000000e+00 -1.15371248e+21  1.00979940e+21  1.08175594e+21
  -1.08175594e+21  7.19565398e+19]
 [-1.09019488e+32  1.09019488e+32 -5.00826155e+19  5.04892061e+19
  -4.06590639e+17 -1.23843564e+20  1.05366647e+21 -9.29822904e+20
   0.00000000e+00  1.44220336e+21 -1.25118860e+21 -1.34669598e+21
   1.34669598e+21 -9.55073788e+19]
 [-9.45695933e+31  9.45695933e+31 -3.29844293e+19  3.18896273e+19
   1.09480200e+18 -8.03611620e+19  7.03618015e+20 -6.23256853e+20
  -0.00000000e+00  9.49388822e+20 -8.22779685e+20 -8.86084253e+20
   8.86084253e+20 -6.33045684e+19]
 [-4.25787840e+31  4.25787840e+31 -1.24588499e+19  1.16695485e+19
   7.89301466e+17 -2.47899865e+19  2.44721880e+20 -2.19931893e+20
   0.00000000e+00  3.30448972e+20 -2.90695242e+20 -3.10572107e+20
   3.10572107e+20 -1.98768647e+19]
 [-5.70286789e+31  5.70286789e+31 -2.95570361e+19  3.02691273e+19
  -7.12091171e+17 -6.82723884e+19  5.94770332e+20 -5.26497944e+20
   0.00000000e+00  8.23263509e+20 -7.19104159e+20 -7.71183834e+20
   7.71183834e+20 -5.20796751e+19]
 [ 1.51598272e+32 -1.51598272e+32  6.25414654e+19 -6.21587546e+19
  -3.82710827e+17  1.48633550e+20 -1.29838835e+21  1.14975480e+21
  -0.00000000e+00 -1.77265233e+21  1.54188384e+21  1.65726809e+21
  -1.65726809e+21  1.15384244e+20]]

# Pandas

Run the code bellow uncomment the second line to install savReaderWriter library. The `dict_varlabels` has the labels of the columns of rec1.

1. Check if CASEID identifies each observation uniquely. **[Hint: Use is_unique method.](https://pandas.pydata.org/docs/reference/api/pandas.Series.is_unique.html)**
2. Make the CASEID column the index of your data set. **[Hint: Use set_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)**. 
3. Keep women who are 15-30 years old and live in Urban areas. **[Hint: Use query](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html)**.
4. Generate a new column with the month of born. Just use the first three letters.  Use the English names of the months.

In [89]:
# read REC0111 data
#!pip install savReaderWriter
import savReaderWriter as sav
rec1 = pd.read_spss( fr"../../_data/endes/2019/REC0111.sav" )

# Get labels from sav file
with sav.SavHeaderReader( fr"../../_data/endes/2019/REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()

dict_varlabels = metadata[3]

In [28]:
dict_varlabels

{'ID1': 'Año',
 'HHID': 'Identificación Cuestionario del Hogar',
 'CASEID': 'Identificación Cuestionario Individual',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V013': 'Edad actual por grupos de 5 años',
 'V014': 'Integridad de la información para la fecha de nacimiento ',
 'V015': 'Resultado entrevista individual',
 'V017': 'Inicio del calendario, Codificación centenaria de mesesl CMC',
 'V018': 'Columna del mes de la entrevista',
 'V019': 'Duración del calendario',
 'V019A': 'Número de columnas de calendario',
 'V020': 'Muestra alguna vez casada',
 'V021': 'Unidad de muestreo primario - conglomerado',
 'V023': 'Dominio de ejemplo - Departamento',
 'V024': 'Región',
 'V025': 'Tipo de lugar de residencia',
 'V026': 'El lugar de residencia en el que se entrevistó - De Facto',
 'V027': 'Número de visitas',
 'V028': 'Identificación del entrevistador',
 'V029': 'Identificador del digitador',
 'V030': 'Supervisor de campo',
 'V031': 'Editor de campo',
 'V032': 'Editor de la oficina',
 'V033': 'Selección final del área de probabilidad',
 'V034': 'Número de orden del esposo',
 'V040': 'Altitud del conglomerado en metros',
 'V042': 'Selección de hogar para hemoglobina',
 'V043': 'Selección para módulo de estatus de mujeres',
 'V044': 'Selección para módulo de violencia domestica',
 'V000': 'Código y fase del país',
 'Q105DD': 'Dia de nacimeinto de la entrevistada',
 'V101': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V103': 'Lugar de residencia de la infancia',
 'V104': 'Cuanto tiempo tiene viviendo continuamente en el lugar de residencia actual',
 'V105': 'Tipo de lugar de residencia anteriormente',
 'V106': 'Nivel educativo más alto',
 'V107': 'Año/grado de educación más alto aprobado',
 'V113': 'Fuente principal de abasteciemiento de agua potable que utilizan en su hogar para tomar o beber',
 'V115': 'Tiempo para llegar a la fuente de agua',
 'V116': 'Tipo de instalación sanitaria',
 'V119': 'En su hogar tiene: electricidad',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V128': 'Material predominante de las paredes exteriores de la vivienda',
 'V129': 'Material predominante del techo de la vivienda',
 'V130': 'Religión',
 'V131': 'Etnicidad',
 'V133': 'Educación en años simples',
 'V134': 'El lugar en el que se realizó la entrevista  De-facto',
 'V135': 'Residente habitual o visitante',
 'V136': 'Número de miembros del hogar',
 'V137': 'Número de niños de 6 años de edad ',
 'V138': 'Número de mujeres de 15 a 49 años de edad elegibles en el hogar ',
 'V139': 'Región, residencia habitual De-jure',
 'V140': 'Tipo de área de residencia De-jure',
 'V141': 'Lugar de residencia De-jure',
 'V149': 'Logro educativo',
 'V150': 'Relación con el jefe del hogar',
 'V151': 'Sexo del Jefe del Hogar',
 'V152': 'Edad del jefe del hogar',
 'V153': 'En su hogar tiene: teléfono',
 'AWFACTT': 'Factor todas las mujeres - total',
 'AWFACTU': 'Factor todas las mujeres - urbano/rural',
 'AWFACTR': 'Factor todas las mujeres - regional',
 'AWFACTE': 'Factor todas las mujeres - educación',
 'AWFACTW': 'Factor todas las mujeres - índice de riqueza',
 'V155': 'Alfabetización',
 'V156': 'Alguna vez participó en un programa de alfabetización (no incluyendo la escuela primaria)',
 'V157': 'Frecuencia de lectura de un periódico o revista',
 'V158': 'Frecuencia de escuchar radio',
 'V159': 'Frecuencia de ver televisión',
 'V160': 'Baño compartido con otros hogares',
 'V161': 'Tipo de combustible para cocinar',
 'V166': 'Resultados de la prueba del yodo en la sal',
 'V167': 'Número de viajes en los últimos 12 meses',
 'V168': 'Afuera más de un mes en los últimos 12 meses',
 'ML101': 'Tipo de mosquitero que utilizo para dormir última noche',
 'QD333_1': 'Alguna dificultad o limitación permanente para ver, aún usando anteojos',
 'QD333_2': 'Alguna dificultad o limitación permanente para oir, aún usando audífonos',
 'QD333_3': 'Alguna dificultad o limitación permanente para hablar o comunicarse, aún usando la lengua de señas u otro',
 'QD333_4': 'Alguna dificultad o limitación permanente para moverse o caminar para usar brazos y/o piernas',
 'QD333_5': 'Alguna dificultad o limitación permanente para entender o aprender (concentrarse y recordarse)',
 'QD333_6': 'Alguna dificultad o limitación permanente para relacionarse con los demás, por sus pensamientos, sentimientos, emociones o conductas',
 'UBIGEO': 'Código de Ubicación Gegráfica',
 'V022': 'Estratos',
 'V005': 'Factor de ponderacion',
 'V190': 'Índice de riqueza',
 'V191': 'Factor de puntuación del índice de riqueza (5 decimales)',
 'mujeres12a49': 'Mujeres de 12 a 49 años de edad',
 'NCONGLOME': 'Número de Conglomerado (proveniente del marco)'}

1. In order to check if CASEID identifies each observation uniquely, we need to use the is_unique method after calling CASEID variable from rec1 dataframe.

In [31]:
# The result is True which is right because CASEID is labeled as "Identificación Cuestionario Individual"
rec1.CASEID.is_unique

True

2. Percy

In [90]:
# 2. Make the CASEID column the index of your data set. **[Hint: Use set_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)**.

rec1.set_index("CASEID")

,ID1,HHID,V001,V002,V003,V004,V007,V008,V009,V010,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
CASEID,,,,,,,,,,,,,,,,,,,,,
000100201 2,2019.0,000100201,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 años de edad,7065.0
000100201 3,2019.0,000100201,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0
000102801 2,2019.0,000102801,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
000102801 6,2019.0,000102801,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
000104801 2,2019.0,000104801,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325406201 2,2019.0,325406201,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.750187,Mujeres de 15 a 49 años de edad,15783.0
325406301 2,2019.0,325406301,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.676861,Mujeres de 15 a 49 años de edad,15783.0
325407001 2,2019.0,325407001,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.585333,Mujeres de 15 a 49 años de edad,15783.0
325407201 2,2019.0,325407201,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.650159,Mujeres de 15 a 49 años de edad,15783.0
325407401 2,2019.0,325407401,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.644720,Mujeres de 15 a 49 años de edad,15783.0

3. César A

In [95]:
# 3. Keep women who are 15-30 years old and live in Urban areas. **[Hint: Use query](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html)**.

rec1.query("(V013 == 'De 15 a 19 años de edad' or V013 == 'De 20 a 24 años de edad' or V013 == 'De 25 a 29 años de edad') and (V025 == 'Urbano')")

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0
8,2019.0,000116701,000116701 1,1.0,167.0,1.0,1.0,2019.0,1434.0,6.0,...,No,No,No,010101,3.0,154803.0,Más rico,1.672440,Mujeres de 15 a 49 años de edad,7065.0
9,2019.0,000119101,000119101 1,1.0,191.0,1.0,1.0,2019.0,1434.0,9.0,...,No,No,No,010101,3.0,154803.0,Pobrer,0.234148,Mujeres de 15 a 49 años de edad,7065.0
12,2019.0,000203001,000203001 2,2.0,30.0,2.0,2.0,2019.0,1432.0,5.0,...,No,No,No,010101,2.0,65298.0,Pobrer,-0.196449,Mujeres de 15 a 49 años de edad,7068.0
14,2019.0,000204001,000204001 3,2.0,40.0,3.0,2.0,2019.0,1432.0,9.0,...,No,No,No,010101,2.0,65298.0,Medio,0.560448,Mujeres de 15 a 49 años de edad,7068.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38162,2019.0,324202401,324202401 2,3242.0,24.0,2.0,3242.0,2019.0,1436.0,2.0,...,No,No,No,250302,248.0,203603.0,Pobrer,-0.463931,Mujeres de 15 a 49 años de edad,45556.0
38163,2019.0,324202501,324202501 3,3242.0,25.0,3.0,3242.0,2019.0,1436.0,5.0,...,No,No,No,250302,248.0,567613.0,Pobrer,-0.576118,Mujeres de 15 a 49 años de edad,45556.0
38164,2019.0,324203901,324203901 1,3242.0,39.0,1.0,3242.0,2019.0,1436.0,8.0,...,No,No,No,250302,248.0,567613.0,El más pobre,-0.940013,Mujeres de 15 a 49 años de edad,45556.0
38165,2019.0,324204501,324204501 2,3242.0,45.0,2.0,3242.0,2019.0,1436.0,5.0,...,No,No,No,250302,248.0,203603.0,El más pobre,-0.656011,Mujeres de 15 a 49 años de edad,45556.0
38170,2019.0,324206901,324206901 3,3242.0,69.0,3.0,3242.0,2019.0,1436.0,10.0,...,No,No,No,250302,248.0,567613.0,Pobrer,-0.574662,Mujeres de 15 a 49 años de edad,45556.0

4. Diana

In [120]:
# In order to obtain this new variable, we used the merge function with an auxiliary DataFrame that contains the months' names.

# First, we generate the auxiliary DataFrame by creating a dictionary with the two lists.
months_n = np.arange(1.0, 13.0, 1)
months_l = [ 'jan' , 'feb', 'mar' , 'abr' , 'may' , 'jun' , 'jul', 'ago' , 'sep' , 'oct', 'nov', 'dec']

dict_months = { "V009" : months_n, "months":months_l}
month = pd.DataFrame(dict_months)

# Now we use the merge function to add the month variable
rec1_new = rec1.merge(month , on = 'V009' , how = 'left',  validate = 'm:1')