# 1 Assignment 2

In [1]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter, `for loop`,   and [this link](https://stackoverflow.com/questions/3420122/filter-dict-to-contain-only-certain-keys) to update the var and value dictionary.**

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. Your final output should be equal to `endes_2019_ta` object **Hint: Use `update` method.**

In [ ]:
output = urllib.request.urlopen(r'https://www.dropbox.com/s/gwcssinb1j9zr6s/endes_2019_ta.pkl?dl=1')
endes_2019_ta = pickle.load( output )

6. Now, replicate your code of the prevoius sections but for years **2019, 2018, 2017, 2016, 2015**. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their **variables and values labels** from this path `"../../_data/endes/"`. For this excersie you must use a for loop. This loop must iterate over **2019, 2018, 2017, 2016, 2015 folders** and import these files. All the files have the same name. You must store these files and their labels in a nested dictionary named as `all_data`. The keys of the dictionary should be named as `year_2019`, for example, and the keys of the nested dictionary should be `data`, `var_labels`, and `value_labels`. The output of this exercise should be equal to the `all_data_ta` object. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.)**

In [ ]:
output = urllib.request.urlopen(r'https://www.dropbox.com/s/dqv1d9of2uo6hul/all_data_ta.pkl?dl=1')
all_data_ta = pickle.load( output )

7. Use `all_data` to append all the data sets. Store all data sets in a list using `for loop`. Then, use `pd.concat` to append all the data sets. Also, you must reset the index to have a good-looking data. This new object should be named as `endes_data_2015_2019`. **Hint: Use [this code](https://stackoverflow.com/questions/32444138/concatenate-a-list-of-pandas-dataframes-together)**

8. Store all the `var_labels` and `value_labels` in a dictionary named as `all_var_labels` and `all_value_labels`. The first keys should be the year for both dictionaries.Then, use them to generate new attributes for `endes_data_2015_2019`. These attributes should be named as `var_labels` and `value_labels`. Your final output should be equal to `endes_data_2015_2019_ta` object. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.3.)**

In [ ]:
output = urllib.request.urlopen( r'https://www.dropbox.com/s/oifvyjrr7s0e1md/endes_data_2015_2019_ta.pkl?dl=1')
endes_data_2015_2019_ta = pickle.load( output )

9. Use `endes_data_2015_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

10. Merge `mean_key_vars` with `endes_data_2015_2019`. Name this object `final_result`. Your ouput should be equal to `final_result_ta`. **Hint: Use merge.**

In [ ]:
output = urllib.request.urlopen( r'https://www.dropbox.com/s/ntor3jbpdxpj9u1/final_result_ta.pkl?dl=1' )
final_result_ta = pickle.load( output )

### RESOLUTION

#### Part 1.

First time installation

In [ ]:
#!pip install pyreadstat
#!pip install savReaderWriter

In [ ]:
import savReaderWriter as sav

In [2]:
pwd

'C:\\Users\\dell\\Documents\\Cursos_en_desarrollo\\Diplomatura_QLAB\\2_Fundamentos_Python\\Diplomado_PUCP\\Lecture_4\\Assignment_2'

Importing datasets

In [3]:
rec1 = pd.read_spss(r"C:/users/dell/Documents/Cursos_en_desarrollo/Diplomatura_QLAB/2_Fundamentos_Python/Diplomado_PUCP/_data/endes/2019/REC0111.sav")
rec2 = pd.read_spss(r"C:/users/dell/Documents/Cursos_en_desarrollo/Diplomatura_QLAB/2_Fundamentos_Python/Diplomado_PUCP/_data/endes/2019/RE223132.sav")
rec3 = pd.read_spss(r"C:/users/dell/Documents/Cursos_en_desarrollo/Diplomatura_QLAB/2_Fundamentos_Python/Diplomado_PUCP/_data/endes/2019/RE516171.sav")

Importing value and variable label objects

In [27]:
with sav.SavHeaderReader( r"C:/users/dell/Documents/Cursos_en_desarrollo/Diplomatura_QLAB/2_Fundamentos_Python/Diplomado_PUCP/_data/endes/2019/REC0111.sav", 
                         ioUtf8=True) as header:
    metadata1 = header.all()
    value_labels1 = metadata1.valueLabels
    var_labels1 = metadata1.varLabels

with sav.SavHeaderReader(r"C:/users/dell/Documents/Cursos_en_desarrollo/Diplomatura_QLAB/2_Fundamentos_Python/Diplomado_PUCP/_data/endes/2019/RE223132.sav",
                         ioUtf8=True) as header:
    metadata2 = header.all()
    value_labels2 = metadata2.valueLabels
    var_labels2 = metadata2.varLabels

with sav.SavHeaderReader(r"C:/users/dell/Documents/Cursos_en_desarrollo/Diplomatura_QLAB/2_Fundamentos_Python/Diplomado_PUCP/_data/endes/2019/RE516171.sav",
                         ioUtf8=True) as header:
    metadata3 = header.all()
    value_labels3 = metadata3.valueLabels
    var_labels3 = metadata3.varLabels

#### Part 2.

Selecting the columns

In [73]:
rec1_1 = rec1.loc[ : , ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 
                        'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123',
                        'V124', 'V125', 'V127', 'V133'] ]

rec2_2 = rec2.loc[ : , ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 
                        'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 
                        'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380'] ]

rec3_3 = rec3.loc[ : , ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 
                        'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715'] ]

Updating value and variable label objects

In [64]:
new_keys1 = rec1_1.columns.values
new_value_labels1 = { key:value for ( key, value ) in value_labels1.items() if key in new_keys1 }
new_var_labels1 = { key:value for ( key, value ) in var_labels1.items() if key in new_keys1 }

new_keys2 = rec2_2.columns.values
new_value_labels2 = { key:value for ( key, value ) in value_labels2.items() if key in new_keys2 }
new_var_labels2 = { key:value for ( key, value ) in var_labels2.items() if key in new_keys2 }

new_keys3 = rec3_3.columns.values
new_value_labels3 = { key:value for ( key, value ) in value_labels3.items() if key in new_keys3 }
new_var_labels3 = { key:value for ( key, value ) in var_labels3.items() if key in new_keys3 }

#### Part 3.

Create a new column

In [74]:
rec1_1.loc[ : , "year" ] = "2019"
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,Urbano,Si,Si,Si,No,No,No,"Losetas, terrazos o similares",16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,Urbano,Si,Si,Si,No,No,No,"Losetas, terrazos o similares",6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,Urbano,Si,Si,Si,Si,Si,Si,"Losetas, terrazos o similares",16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,Urbano,Si,Si,Si,Si,Si,Si,"Losetas, terrazos o similares",4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,Urbano,No,No,No,No,No,No,Cemento/ladrillo,1.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,Rural,No,No,No,No,No,No,Pona,4.0,2019
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,Rural,No,No,No,No,No,No,Pona,6.0,2019
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,Rural,No,No,No,No,No,No,Pona,3.0,2019
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,Rural,No,No,No,No,No,No,Pona,9.0,2019
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,Rural,No,No,No,No,No,No,Pona,9.0,2019

Create a new key

In [72]:
new_var_labels1.update( {"year" : "Year of the survey"} )

{'CASEID': 'Identificación Cuestionario Individual',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V024': 'Región',
 'V000': 'Código y fase del país',
 'V102': 'Tipo de lugar de residencia',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V133': 'Educación en años simples',
 'year': 'Year of the survey'}

#### Part 4.

Merging multiple datasets with an using an inner join

In [83]:
endes_2019 = rec1_1.merge(rec2_2, on = "CASEID", how = "inner").merge(rec3_3, on = "CASEID", how = "inner")